@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

	<div class="container" style="margin-top:115px;">
		<div class="section-title text-center">
			
            <div class="container">
                <img src="/images/car/01.jpg" alt="" height="350px" width="550px" style="border-radius:15px">
                <img src="/images/car/02.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/bg/02.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/04.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/05.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/bg/04.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/bg/05.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/bg/5.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/b1.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/b2.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/b3.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/b4.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <iframe width="550" height="350" src="/images/car/b5.mp4" frameborder="0" allow="accelerometer; autoplay; allowfullscreen style="border-radius:10px"></iframe>
                <iframe width="550" height="350" src="/images/car/b6.mp4" frameborder="0" allow="accelerometer; autoplay; allowfullscreen style="border-radius:10px"></iframe>
                <img src="/images/car/c1.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/c2.jpg" alt="" height="350px" width="550px" style="border-radius:10px">
                <img src="/images/car/c3.jpg" alt="" height="400px" width="550px" style="border-radius:10px">
                <img src="/images/car/c4.jpg" alt="" height="400px" width="550px" style="border-radius:10px">
            </div>